h1 {
  color: rgb(255, 255, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media screen and (max-width: 900px) {
  .erfarenheter {
    flex-direction: column;
    align-items: center;
  }
  .skola,
  .jobb,
  .praktik {
    max-width: 60%;
    margin-bottom: 20px;
  }
}
body {
  max-width: 2000px;
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

header {
  max-width: 2000px;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a:link {
  background-color: hotpink;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.a:link:hover {
  background-color: #04AA6D;
  /* Green */
  color: white;
}

main {
  max-width: 2000px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.introduktion {
  margin-top: 10%;
  width: 35%;
  min-width: 300px;
  min-height: 150px;
  max-height: 600px;
  background-color: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-style: double;
}

h2 {
  color: black;
  margin-left: 2%;
}

.about {
  max-width: 350px;
  width: 90%;
  max-height: 300px;
  background-color: lightblue;
  align-self: flex-end;
  margin-right: 1%;
}

.about2 {
  max-width: 350px;
  width: 90%;
  min-height: 50px;
  max-height: 300px;
  background-color: rgb(223, 189, 194);
  display: flex;
  align-self: flex-start;
  margin-left: 2%;
}

.ansikte {
  margin-top: 3%;
  max-width: 100%;
  height: auto;
}

footer {
  max-width: 2000px;
  width: 100%;
  background-color: gray;
}

.erfarenheter {
  width: 100%;
  min-width: 300px;
  min-height: 600px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  flex-direction: row;
  justify-content: space-around;
}

.skola {
  max-width: 350px;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  background-color: rgb(253, 253, 253);
  display: flex;
  font-size: large;
  text-align: center;
}

.jobb {
  max-width: 350px;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  background-color: rgb(253, 253, 253);
  display: flex;
  font-size: large;
  text-align: center;
}

.praktik {
  max-width: 350px;
  width: 100%;
  min-height: 50px;
  max-height: 200px;
  background-color: rgb(253, 253, 253);
  display: flex;
  font-size: large;
  text-align: center;
}

.titlar {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  background-color: none;
}

table {
  border-style: double;
}

tr, td {
  border-style: double;
}/*# sourceMappingURL=index.css.map */