@media screen and (max-width: 900px) {
    .erfarenheter {
        flex-direction: column;
        align-items: center;
    }

    .skola,
    .jobb,
    .praktik {
        max-width: 60%;
    }
}

@media screen and (max-width: 620px) {
    .introduktion {
        margin-top: 4%;
    }

    .about,
    .about2 {
        margin-right: 0;
        margin-left: 0;
    }
}